#container {
    width: 100%;
    float:left;
    margin: 20px;
}

/**** Isotope filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.masonryImage {
    border-style:solid;
    border-width:3px;
    border-color: black;
    margin: 5px;
    overflow: hidden;
    float: left;
    position: relative;
    border-radius: 4px;

    background-color: #ededed;

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;*/
    background-color: white;
    /*-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;*/
    border:1px solid #dcdcdc;
    display:inline-block;
    /*color:#777777;*/
    font-family: 'Open Sans', sans-serif, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;    font-size:15px;
    /*font-weight:bold;*/
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
  }

/**** Identifiers for items ****/
.lost { 
}

.found {
}

.shown {
}

.blocky {
  min-width:230px!important;
}

.low-priority {
  z-index: 1 !important;
}

.desc {
  width: 230px;
  word-wrap: break-word;
}