<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link href="{% static "base.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "item.css" %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


  </head>
  <body>

  {% load bootstrap_toolkit %}

    <!--Top Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" style="padding-left:20px;">
        <a class="brand" href="../">Princeton Lost & Found</a>
        <div class="pull-right">
          <ul class="nav">
            {% if must_log_in == True %}
              <form action="" method="post">{% csrf_token %}
                <li><button type="submit" class="btn" value="login_request">Login</button></li>
              </form>{}
            {% else %}
              <li><button class="btn"><a href="https://fed.princeton.edu/cas/logout">Logout</a></button></li>
            {% endif %}
          </ul>
        </div>
          <u1 id="filters" class="nav">
            <li><a href="#" data-filter="*">show all</a></li>
            <li><a href="#" data-filter=".lost">lost</a></li>
            <li><a href="#" data-filter=".found">found</a></li>
          </u1>

        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <!--Sidebar content-->
        <div class="span3">
          <!--Search Box-->
          <form class="search search-indent">
            <input type="text" id="search" class="search-query search-width" placeholder="Search...">
          </form>
          <!--Accordian menu-->
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#advS">
                  Advanced Search
                </a>
              </div>
              <div id="advS" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <u1 id="options" class = "nav nav-list">
                  	<form>
                  	<input type="radio" name="lf" value="lost">Lost<br>
                  	<input type="radio" name="lf" value="found">Found
                  	</form>
                  	<form>
                  	Location? <input type="text" id = "loc" value="e.g. Frist"><br>
                  </form>
                  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	                <script src="../media/datepicker/js/bootstrap-datepicker.js"></script>
  	                <script>
  	                $(function() {
  	                  $( ".datepicker" ).datepicker();
  	                });
  	                </script>
  	                	<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  	                		<input class="span2" size="16" type="text" value="12-02-2012">
  	                		<span class="add-on"><i class="icon-th"></i></span>
  	                	</div>
                  	<!-- drop down options -->
                  </u1>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#myItems">
                  My Items
                </a>
              </div>
              <div id="myItems" class="accordion-body collapse">
                <div class="accordion-inner" style="overflow-y:scroll;overflow-x:hidden;">
                  {% if myitems %}
                    {% for item in myitems %}
                      <div class="masonryImage">
                        {% if item.picture %}
                          <img src="..{{ item.picture.url }}" class="tileim"/>
                        {% endif %}
                          <p class="name">{{ item.category  }}</p>
                          <p class="location">{{ item.location }}</p>
                          <hr class="break"/>
                        {% if item.status == True %}
                          <p class="location">Lost
                        {% else %}
                          <p class="location">Found
                        {% endif %}
                          : {{ item.event_date }}</p>
                        <p class="location">{{ item.desc }}</p>
                        <form action="" method="post">{% csrf_token %}
                         <input type="hidden" value={{item.id}} name="resolved">
                         <!--<input type="hidden" value="{{ item.id }}" name="id">-->
                         <input type="submit" value="Resolved?">
                       </form>
                      </div>
                    {% endfor %}
                  {% else %}
                    <p>Login to see your items!</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#submit">
                  Submit
                </a>
              </div>
              <div id="submit" class="accordion-body collapse">
                <div class="accordion-inner">

                  {% if form.errors|as_bootstrap %}
                      <p style="color: red;">
                          Please correct the error{{ form.errors|pluralize }} below.
                      </p>
                  {% endif %}

                  <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
                      <table>
                          <input type="hidden" name="submit_request" value="submit_request">
                          <!-- Status -->
                          <div class="field">
                              <!--<label for="id_status"><strong>* Status:</strong></label>-->
                              {% if form.errors.status %}
                              <p style="color: red;">{{ errors.status }}</p>
                              {% endif %}

                              <ul class="nobullet">
                                  <li>{{ form.status | as_bootstrap }}</li>
                                  <!--<li>{{ form.status.1 }}</li>-->
                              </ul>
                          </div>
                          <!-- Category -->
                          <div class="field">
                           <!--   <label for="id_category"><strong>* Category:</strong></label>-->
                              <p>{{ form.category | as_bootstrap }}</p>
                          </div>
                          <!-- Location -->
                          <div class="field">
                              <label for="id_location"><strong>Location: </strong></label>
                              <p>{{ form.location | as_bootstrap }} </p>
                          </div>
                          <div class="field">
                              <label for="id_event_date"><strong>Lost/Found On: </strong></label>
                              <p>{{ form.event_date | as_bootstrap }} </p>
                          </div>
                          <!-- Event Date --><!--
                          <div class="field">
                              <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
                              <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
                              <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
                              <script>
                              $(function() {
                                  $( "#form_event_date" ).datepicker();
                              });
                              </script>
                              <label for="id_event_date"><strong>Date: </strong><input type="text" id="form_event_date"></label>
                          </div>-->
                          <!-- Description -->
                          <div class="field">
                              <label for="id_desc"><strong>* Description: </strong></label>
                              {% if form.errors.desc %}
                              <p style="color: red;">{{ errors.desc | as_bootstrap }}</p>
                              {% endif %}
                              <p>{{ form.desc | as_bootstrap }} </p>
                          </div>
                          <!-- Picture -->
                          <div class="field">
                              <!-- <label for="id_picture"><strong>Picture: </strong></label> -->
                              <p>{{ form.picture | as_bootstrap }} </p>
                          </div>
                          <!-- Net ID
                          <div class="field">
                              <label for="id_netid"><strong>* NetID: </strong></label>
                              {% if form.errors.netid %}
                              <p style="color: red;">{{ errors.netid }}</p>
                              {% endif %}
                              <p>{{ form.netid }} </p>
                          </div>-->
                      </table>
                      <input type="submit" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Body content-->
        <div class="span9" id="right">
          {% block content %}
            Content
          {% endblock %}
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="navbar navbar-fixed-bottom footer-specs">
        <p class="muted foot">© Princeton USG 2013, a CoS 333 Project</p>
		<p class="muted foot">Design by Deric Cheng, Samuel Lichtenberg,</p>
		<p class="muted foot">Matthew Goldsmith, and Dharit Tantiviramanond</p>
      </div>
    </div>


    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>