<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
	{% load staticfiles %}
	<link href="{% static "base.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "item.css" %}" rel="stylesheet" type="text/css">
<!--        <link href="{% static "new.css" %}" rel="stylesheet" type="text/css">-->
    <title><{% block title %}Princeton Lost & Found{% endblock %}</title>
</head>

<body>

	<div class="container">

		<!-- Banner -->
		<div class="banner">
		    <h1>Princeton Lost & Found</h1>
		</div>

		<div class="body">
			<!-- Left Bar -->
			<div class="left">
				<ul class="vert-one">
					<li><input id="search" class="search" type="text" placeholder="Search..." value="Search..."></li>
					<li><a href="../" title="Home">Home</a></li>
					<li><a href="/submit/" title="Submit">Submit</a></li>
					<li><a href="/myitems/" title="MyItems">My Items</a></li>
				</ul>
			    {% if error %}
			        <p style="color: red;">Please submit a search term.</p>
			    {% endif %}
			   <!-- <form action="" method="get">
			        <input type="text" name="q">
			        <input type="submit" value="Search">
			    </form>-->
			</div>

			<!-- Main Display -->
			<div class="right">
			    {% block content %}
			    	Content
			    {% endblock %}
			</div>
		</div>
		
		<!--I don't know how this works-->
		<div style="clear:both;"></div>

		<!-- Footer -->
		<div class="footer">
		    {% block footer %}
		    <p>Princeton USG 2013. Website by Deric Cheng, Reed Tan, Matt Goldsmith, and Sam Lichtenberg</p>
		    {% endblock %}
		</div>

    </div>

</body>
</html>
