{% extends "base.html" %}

{% block header %}Home{% endblock %}

{% block content %}

  {% for item in items %}
  {% if item.claimed != True %}
    {% if item.status == True %}
      <div class="masonryImage lost" value={{ item.id }}>
      <p style="text-align:center"><strong>LOST</strong></p>
    {% else %}
      <div class="masonryImage found" value={{ item.id }}>
      <p style="text-align:center"><strong>FOUND</strong></p>
    {% endif %}
    {% if item.picture %}
      <img src="..{{ item.picture.url }}" class="tileim"/>
    {% endif %}
      <p>{{ item.desc }}</p>
      <p>{{ item.category  }}</p>
      <p>{{ item.location }}</p>
      <p>{{ item.event_date }}</p>

      <form action="" method="post">{% csrf_token %}
       <input type="hidden" value="{{ item.id }}" name="identity">
       {% if item.status == True %}
           <button class="button" type="submit">I Found This!</button>
       {% else %}
           <button class="button" type="submit">This is Mine!</button>
       {% endif %}
     </form>
   </div>
   {% endif %}
   {% endfor %}

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="../media/jquery.isotope.min.js"></script>
 <script>
 $(function() {
   var $container = $('#right');
   $container.imagesLoaded( function() {

      var $search = $('#search');
      original_val = $search.val();
      $search.focus(function(){
        if($(this).val()===original_val){

          $(this).val('');
        }
      })
      .blur(function(){
        if($(this).val()===''){

          $(this).val(original_val);
        }
      });
      /* $search.keypress(function(){
        alert("blah");
        if($(this).val()===''){
          $container.isotope({ 

          });
        } 
      }); */
      $search.keyup(function(e) {
        if (e.keyCode == 8) {
          /*$('.masonryImage').each(function() {
            if ($(this).is(":contains('" + input + "')")) {
                $(this).removeClass('shown');
            }
          });*/
          $container.isotope({filter: "*"});
          return false;
        }
      });
      $search.keypress(function (e) {
        if (e.which == 13) {
          /* do the searching here */
          /* make the http request for json data, then parse */
          var ret;
          var count = 0;
          var input = $(this).val();
          /*
          $.getJSON("../data/", function(ret){
            $.each(ret, function(index, item){

              if (item.fields.category===input) {
                $('.masonryImage').each(function() {
                  if ($(this).attr("value")==item.pk) {
                    $(this).addClass('shown');
                    count++;
                  }
                })
              }
            });
          });*/
          $('.masonryImage').each(function() {
              if ($(this).is(":contains('" + input + "')")) {
                $(this).addClass('shown');
                count++;
              }
            });
            if (count === 0) {
               alert("No items match your search criteria.");

            }
            else {
             $container.isotope({ filter: ".shown"});
              $('.masonryImage').each(function() {
                if ($(this).is(":contains('" + input + "')")) {
                $(this).removeClass('shown');
                }
              });
            }

          return false;
        }
      });  

      $container.isotope({

      });

      $('#filters a').click(function(){
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector });
        return false;
      });
    });
  });

</script>

{% endblock %}
