{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

  {% for item in items %}
    {% if item.status == True %}
      <div class="masonryImage lost blocky low-priority shown" value="{{ item.id }}">
    {% else %}
      <div class="masonryImage found blocky low-priority shown" value="{{ item.id }}">
    {% endif %}

    {% if item.picture %}
      <img src="{{ item.picture.url }}" class="tileim low-priority"/>
    {% endif %}
      <p class="name" style="font-size: 20px">{{ item.name }}</p>
      <p class="small-header">{{ item.location }}</p>

    {% if item.status == True %}
      <hr class="break lost line"/>
    {% else %}
      <hr class="break found line"/>
    {% endif %}

    <u>
    {% if item.status == True %}
      <p class="location">Lost
    {% else %}
      <p class="location">Found
    {% endif %}
    {% if item.event_date %}
      : <span name="date">{{ item.event_date }}</span>
    {% endif %}
    </p></u>
    <div class="desc">
      <p class="location desc">{{ item.desc }}</p>
    </div>

    {% if must_log_in == True %}
      <a href="../login" class="btn btn-mini claim">Login to claim</a>
    {% else %}
      {% if item.status == True %}
        <button href="#claimModal1" data-toggle="modal" class="btn btn-mini claim" value="{{ item.id }}" name="{{ item.status }}">I Found This</button>
      {% else %}
        <button href="#claimModal1" class="btn btn-mini claim" data-toggle="modal" value="{{ item.id }}" name="{{ item.status }}">This is Mine</button>
      {% endif %}
    {% endif %}
  </div>
 {% endfor %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/jquery.isotope.min.js"></script>
<script src="{% static "date.js" %}"></script>
<script>

var $container = $('#icebox');
var filter_state = 'show all';
var time_state = 'past month';

today = Date.today();
1weekago = today.add(-7).days();
1monthago = today.add(-1).months();

// things that don't need images loaded to work
$(document).ready(function(){ 

  var checkForMatches = 1;

  // Open submit modal upon reloading if errors occurred
  {% if errors %}
  $('#submitModal').modal("show");
  {% endif %}

  // pass data to claim modal
  $('.btn.btn-mini.claim').click( function() {
    $('.modal-footer.claiming #id').val(this.value);
    $('.modal-footer.claiming #status').val(this.name);
  });

  // fixes modal layering problems
  $('#noemail').click(function() {
    $('#claimModal').modal('hide');
  });

  $('#noemail1').click(function() {
    $('#claimModal').modal('hide');
  });

  $('#nomatch').click(function() {
    $('#matchModal').modal('hide');
    $('#matchModal .masonryImage').remove();
  });

  {% if options != 0 %}
  $('#thanksModal').modal("show");
  {% endif %}

  // pass data to resolve modal
  var $res = $('.btn.btn-mini.resolve');
  $res.click( function() {
    $('.modal-footer.resolving #id').val(this.value);
  });

  $('.f_opt').click(function() {
    filter_state = $(this).val();
  });

});

// takes two dt objects; returns true if in the same week
function inWeek(d1, d2) {

}

// things that need images loaded to work
$container.imagesLoaded( function() {

  // add relative time classes
  $('.masonryImage').each(function(){
    date_span = $(this).find('span[name="date"]');
    obj_date = null;
    if (date_span) {
      obj_date = new Date(date_span.val());
      if (Date.compare(obj_date, 1weekago) != -1) {
        $(this).addClass('pastWeek');
      }
      else if (Date.compare(obj_date, 1monthago) != -1) {
        $(this).addClass('pastMonth');
      }
    }
    else {
      $(this).addClass('forever');
    }
  });

  // initially isotope the stuff that's been loaded on the page
  $container.isotope({});

  $('.timefield').click(function() {
    time_state = $(this).val();
    // "change time state" with filter parameters and current search objects
  });

  //---- ADVANCED SEARCH STUFF -------------------------//

  // fields in advanced search
  var $location = $('#loc');
  original_loc = $location.val();
  $location.focus(function(){
    if($(this).val()===original_loc){

      $(this).val('');
    }
  })
  .blur(function(){
    if($(this).val()===''){

      $(this).val(original_loc);
    }
  });

  var $title = $('#title');
  original_tit = $title.val();
  $title.focus(function(){
    if($(this).val()===original_tit){

      $(this).val('');
    }
  })
  .blur(function(){
    if($(this).val()===''){

      $(this).val(original_tit);
    }
  });

  //---------------------------------------------------//

  //----- REGULAR SEARCH BAR --------------------------//

  // search bar - default text
  var $search = $('#search');
  original_val = $search.val();
  $search.focus(function(){
    if($(this).val()===original_val){

      $(this).val('');
    }
  })
  .blur(function(){
    if($(this).val()===''){

      $(this).val(original_val);
    }
  });

  // search bar - automated search (without need for button--waits for certain time to elapse, then runs search)
  var thread = null;
  var backspace_toggle = false;

  $search.keyup(function(e) {
    if (e.which == 13) {
      return;
    }
    clearTimeout(thread);

    var query = $(this).val().toString();

    // save state for "show more"
    search_state = query;

    if (e.which == 8) {
      if (query != '') {
        thread = setTimeout(function() {
          removeItems();
          serverSearch("../search/", query);
        }, 300);
      }
      else {
        if (backspace_toggle==false) {
          removeItems();
          serverSearch('../default/', '');
          backspace_toggle==true;
        }
      }
      return false;
    }
    else {
      thread = setTimeout(function() {
        removeItems();
        serverSearch("../search/", query);
      }, 300);

      backspace_toggle=false;
    }
  });

  // prevent search form from being submitted
  $('.search').submit(function(e) {
    e.preventDefault();
  });

  //------- MISC. BUTTONS: FILTERS AND SHOW MORE------------------//

  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    var value = $(this).attr('name');

    // save filter state for "show more"
    filter_state = selector;

    if (value == 'default') {
      // reset to the most recent whatever, like 5
      var input = '[]';
      removeItems();
      serverSearch('../default/', input);
      $('#showmore').show();
    }
    $container.isotope({ filter: selector });
    return false;
  });

  $('#showmore').click(function() {
    var min = Number.POSITIVE_INFINITY;
    $('.masonryImage').each(function() {
      if (parseInt($(this).attr('value')) < min) {
        min = parseInt($(this).attr('value'));
      }
    });
    var input = min;

    // need to combine search state, filter state, and input into one
    var input = min + "\r\n" + filter_state + "\r\n" + search_state;

    serverSearch('../showmore/', input);

    if (input <= 5) {
      $('#showmore').hide();
    }
    $container.isotope({ filter: '*'});
    return false;
  });

  //------- ADVANCED SEARCH ----------------------------------------------//

  $('#advSearch').click(function() {
    var location = $('#loc').val();
    var name = $('#title').val();
    var category = $('#cats').val();
    var date = $('#date').val();
    var descbox = $('#descbox').val();
    var status = $('input:radio[name="lf"]:checked').val();
    var date_range = $('input:radio[name=range]:checked').val();

    var today = new Date();
    var search_date = new Date(date);
    if (search_date > today) {
      $('#dateModal').modal("show");
      return;
    }

    // so we can do csv to pass data
    name = name.replace(',', '');
    descbox = descbox.replace(',', '');

    var input = location + ',' + name + ',' + 
        category + ',' + date + ',' +
        descbox + ',' + status + ',' +
        date_range;

    // save state for "show more"
    search_state = input;

    removeItems();
    serverSearch('../advSearch/', input);
  });
});

// "call" is the view function to access, input is the information to be passed. gets JSON data in reply
// from the server, formats it to HTML isotope boxes, and puts it in the div.
function serverSearch(call, input) {
  $.getJSON(call, { 'val': input}).done(function(ret){
    var newItems;
    var html = "";
    $.each(ret, function(index, item){
      if (item.fields.status == true) {
        html += "<div class='masonryImage lost blocky low-priority shown' value ='" + item.pk + "'>";
      }
      else {
        html += "<div class='masonryImage found blocky low-priority shown' value ='" + item.pk + "'>";
      }
      if (item.fields.picture.toString() != '') {
        html += "<img src='../media/" + item.fields.picture + "' class='tileim low-priority'/>";
      }
      html += "<p class='name' style='font-size: 20px'>" + item.fields.name + "</p><p class='small-header'>" + item.fields.location + "</p>";
      html += "<u>";
      if (item.fields.status.toString() == 'true') {
        html += "<hr class='break lost line'/><p class='location'>Lost";
      }
      else {
        html += "<hr class='break found line'/><p class='location'>Found";
      }
      if (item.fields.event_date) {
        html += ": <span name='date'>" + item.fields.event_date +"</span>";
      }
      html += "</u>";
      html += "</p></u><div class='desc'><p class='location desc'>" + item.fields.desc + "</p></div>";
      
      {% if must_log_in == True %}
      html += "<button href='../login' class='btn btn-mini claim'>Login to claim</button>";
      {% else %}
      if (item.fields.status == 'True') {
        html += "<button href='#claimModal1' data-toggle='modal' class='btn btn-mini claim' value='" + item.pk + "' name='" + item.fields.status + "'>I Found This</button>";
      }
      else {
        html += "<button href='#claimModal1' class='btn btn-mini claim' data-toggle='modal' value='" + item.pk + "' name='" + item.fields.status + "'>This is Mine</button>";
      }
      {% endif %}
      html += "</div>";
    });
    newItems = $.parseHTML(html);
    $container.isotope('insert', $(newItems));
    $container.imagesLoaded(function() {
      $container.isotope({ filter: ".shown"});
    });
  });
}

function removeItems() {
  $('.masonryImage').each(function() {
    $container.isotope('remove', $(this));
  });
}

</script>

{% endblock %}