{% extends "base.html" %}

{% block header %}FUCK IT WE'RE GOOD{% endblock %}

{% block content %}

<u1 id="filters" class="but1">
  <li><a href="#" data-filter="*">show all</a></li>
  <li><a href="#" data-filter=".lost">lost</a></li>
  <li><a href="#" data-filter=".found">found</a></li>
</u1>


<div id="container">
  {% for item in items %}
  {% if item.claimed != True %}
    {% if item.status == True %}
      <div class="masonryImage lost">
      <p>LOST</p>
    {% else %}
      <div class="masonryImage found">
      <p>FOUND</p>
    {% endif %}
    {% if item.picture %}
      <img src="..{{ item.picture.url }}" />
    {% endif %}
      <p>Description: {{ item.desc }}</p>
      <p>Category: {{ item.category  }}</p>
      <p>Location: {{ item.location }}</p>
      <p>Date: {{ item.event_date }}</p>
      <!--<p>subDate: {{ item.sub_date }}</p>-->

      <form action="" method="post">{% csrf_token %}
       <input type="hidden" value="{{ item.id }}" name="identity">
       <p>Your e-mail: <input type="text" name="email"></p>
       {% if item.status == True %}
         <input type="submit" value="I Found This!">
       {% else %}
         <input type="submit" value="This is mine!">
       {% endif %}
     </form>
   </div>
   {% endif %}
   {% endfor %}
 </div>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="../media/jquery.isotope.min.js"></script>
 <script>

 $(function() {

   var $container = $('#container');
   $container.imagesLoaded( function() {

      var $search = $('#search');
      original_val = $search.val();
      $search.focus(function(){
        if($(this).val()===original_val){

          $(this).val('');
        }
      })
      .blur(function(){
        if($(this).val()===''){

          $(this).val(original_val);
        }
      });
      /* $search.keypress(function(){
        alert("blah");
        if($(this).val()===''){
          $container.isotope({ 

          });
        } 
      }); */
      $search.keyup(function(e) {
        if (e.keyCode == 8) {
          /*$('.masonryImage').each(function() {
            if ($(this).is(":contains('" + input + "')")) {
                $(this).removeClass('shown');
            }
          });*/
          $container.isotope({filter: "*"});
          return false;
        }
      });
      $search.keypress(function (e) {
        if (e.which == 13) {
          /* do the searching here */
          /* make the http request for json data, then parse */
          /*var ret;
          $.getJSON("data/", function(ret){
            
            $.each(ret, function(index, item){
              alert(item.fields.category);
              /* add all the elements that match (using pre-defined "identity" attr,
                to another class hidden
              var id = item.pk;
              /* call isotope 
            });
          });*/
          var input = $(this).val();
          var count = 0;
          $('.masonryImage').each(function() {
            if ($(this).is(":contains('" + input + "')")) {
              $(this).addClass('shown');
              count++;
            }
          });
          /*if (count === 0) {
            alert("No items match your search criteria.");

          }
          else {*/
            $container.isotope({ filter: ".shown"});
            $('.masonryImage').each(function() {
              if ($(this).is(":contains('" + input + "')")) {
                $(this).removeClass('shown');
              }
            });
          /*}*/
          return false;
        }
      });  

      $container.isotope({

      });

      $('#filters a').click(function(){
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector });
        return false;
      });
    });
  });

</script>

{% endblock %}