{% extends "base.html" %}

{% block title %}Submission Complete!!!{% endblock %}

{% block content %}
	{% if options == 0 %}
        <p>Thanks for submitting! You will receive an email if someone indicates that they have found the item you've submitted.</p>
    {% elif options == 1 %}
        <p>Thanks for claiming! An email has been sent to the person who lost the item, and they should contact you shortly.</p>
    {% elif options == 2%}
        <p>Thanks for claiming! An email has been sent to the person who found the item, and they should contact you shortly.</p>
    {% endif %}
{% endblock %}