{% extends "base.html" %}

{% block head %}View Item{% endblock %}

{% block content %}

<u1>
	{% for item in items %}
		{% if item.status %}
		     <p>Lost</p>
		{% else %}
		     <p>Found</p>
		{% endif %}
		<p>Category: {{ item.category   }}</p>
		<p>Location: {{ item.location }}</p>
		<p>____________________________</p>

		<form action="" method="post">
	        <p>Subject: <input type="text" name="subject"></p>
	        <p>Your e-mail (optional): <input type="text" name="email"></p>
	        <p>Message: <textarea name="message" rows="10" cols="50"></textarea></p>
	        <input type="submit" value="Submit">
	    </form>
	{% endfor %}
</u1>

{% endblock %}