{% extends "base.html" %}

{% block header %}Home{% endblock %}

{% block content %}
	<!--{% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
	    <form action="../search/results/" method="get">
	        <input type="text" name="q">
	        <input type="submit" value="Search">
	    </form>-->
	<button type="button" onClick="location.href='../search/'" value='search'>Search!</button>
	<button type="button" onClick="location.href='../submit/'" value='submit'>Submit!</button>
{% endblock %}