body {
	padding-top: 70px;
}

.search-indent {
	margin: 0 0 10px;
	padding-right: 30px;
}

.search-width {
	width: 100%;
}

.footer-specs {
	text-align: center;
}

.tileim {
	max-width: 250px;
	max-height: 250px;
}

.foot {
	font-size: 11px;
	padding: 0;
	margin: 0;
}