body {
	padding-top: 50px;
}

.search-indent {
	margin: 0 0 10px;
	padding-right: 30px;
}

.search-width {
	width: 100%;
}

.footer-specs {
	text-align: center;
}

.tileim {
	max-width: 250px;
	max-height: 250px;
}

.foot {
	font-size: 9px;
	padding: 0;
	margin: 0;
	z-index: 1;
}

.button1 {
    background:none!important;
    border:none; 
    padding:0!important;
}

.name {
	font-size: 18px;
	margin:0;
}

.location {
	font-size: 12px;
	margin:0;
}

.break {
	margin:0;
	color:black;
}

.itembtn {
	margin: 0;
	padding:0;
	font-size: 10px;
}