#container {
    width: 1200px;
    margin: 20px;
    float: left;
}

/**** Isotope filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.masonryImage {
    border-style:solid;
    border-width:1px;
    margin: 5px;
    overflow: hidden;
    float: left;
    position: relative;
}

/**** Identifiers for items ****/
.lost { 
}

.found {
}
